<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>predictions</title>
    <style>
    div{width:100px;
    margin-left: 150px;
                margin-top:15px;
                margin-bottom:15px;
                width:360;
                box-shadow: 15px;
    }
    </style>
</head>
<body>
<div>
   <h3> Overall:{{text}}<h3/>
   </div>
    
</body>
</html>